<footer>
  <div class="logobox">
    <p>Basement</p>
  </div>

  <div class="group">
    <div class="footer-box">
      <p>PRODUCT</p>
      <ul>
        <li>Features</li>
        <li>Promo</li>
        <li>Download</li>
      </ul>
    </div>
    <div class="footer-box">
      <p>CONTACT</p>
      <ul>
        <li>Find us</li>
        <li>FAQ</li>
        <li>Help</li>
      </ul>
    </div>
  </div>

  <div class="group">
    <div class="footer-box follow">
      <p>FOLLOW US</p>
      <ul>
        <li><img src="assets/img/facebook.png"></li>
        <li><img src="assets/img/twitter.png"></li>
        <li><img src="assets/img/dribbble.png"></li>
      </ul>
    </div>
    <div class="footer-box">
      <p>SUBSCRIBE</p>
      <form method="post" action="/email-subscribe">
        <input type="text">
        <input type="submit" value=">">
      </form>
    </div>
  </div>

</footer>