
<header>
  <ul id="menu">
    <li>Product</li>
    <li>About</li>
    <li>Portfolio</li>
    <li>Team</li>
    <li>Contact</li>
  </ul>

  <div class="menu-button" id="menu-button">
    MENU
  </div>
</header>
