<section class="top">
  <div class="logobox">
    <h1>Basement</h1>
  </div>

  <div class="strip contentbox">
    <div class="col75">
      <p>
        Nam elementum rutrum ipsum sit amet luctus. Sed libero turpis, eleifend in quam sed, vestibulum vulputate ante.
      </p>
    </div>
    <div class="col25">
      <button>More info</button>
    </div>
  </div>
</section>

<section class="product">
  <h2>Etiam nisl dui, ultricies quis turpis quis, dapibus finibus tortor</h2>
  <div class="contentbox">
    <div class="infobox col33">
      Etiam nisl dui, ultricies quis turpis quis, dapibus finibus tortor
    </div>
    <div class="info text col66">
      <h3>Ut sit amet scelerisque ex, sit amet mattis sapien</h3>
      <p>
        Mauris eu finibus diam. Quisque accumsan aliquet dictum. Aenean interdum tortor vitae elit elementum, et
        interdum tortor imperdiet. Duis sed justo ultrices, aliquam nisi sit amet, interdum justo.
      </p>
      <h3>Ut sit amet scelerisque ex, sit amet mattis sapien</h3>
      <p>
        Mauris eu finibus diam. Quisque accumsan aliquet dictum. Aenean interdum tortor vitae elit elementum, et
        interdum tortor imperdiet. Duis sed justo ultrices, aliquam nisi sit amet, interdum justo.
      </p>
    </div>
  </div>
</section>

<section class="portfolio">
  <div class="contentbox">
    <div class="col50">
      <img src="/assets/img/samplepic.png">
    </div>
    <div class="col50 text">
      <h2>First project</h2>
      <p>Basically, the kit consists of more than a hundred
        ready-to-use elements that you can combine to get
        the exact prototype you want. We tried to make it as
        versatile as possible, at the same time getting rid of
        all the redundant features to help you save time and
        focus on your project. Wireframe Kit is a professional
        instrument; here you won’t find any bright interface
        or colorful layout, only a precise set of tools.
      </p>
      <p class="view-more">View full project </p>
    </div>
  </div>
</section>

<section class="contact">
  <div class="intro">
    <h2>Contact us</h2>
    <p>Kit is a professional instrument; here you won’t find any bright interface or colorful layout,
      only a precise set of tools</p>
  </div>
  <div class="contentbox">
    <div class="contact-form col50">
      <form name="contact" method="post" action="/message" rows="8">
        <input type="text" placeholder="First name">
        <input type="text" placeholder="E-mail">
        <input type="textarea" placeholder="Add text of your message here...">
        <input type="file" id="upload-file" accept=".jpg, .png, .doc, .pdf">
        <label for="upload-file">Attach documents</label>
        <input type="submit" class="button" value="Submit">
      </form>
    </div>
    <div class="map col50">
      <h4>Where to find us</h4>
      <img src="/assets/img/map.png">
      <h4>Contacts</h4>
      <ul class="contact">
        <li class="address">
          3rd Floor North, 200 Aldersgate,
          London, EC1A 4HD
        </li>
        <li class="email">hello@citizensadvice.co.uk</li>
        <li class="phone">+44 0208 444 444</li>
      </ul>

    </div>
  </div>

</section>



