/* STYLES */
html, body{
    width: 100%;
    overflow-x: hidden;
}

body{
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
h1{
    color: white;
    text-transform: uppercase;
    font-size: 10vw;
    text-align: center;
    font-weight: 200;
}
h4 {
    text-transform: uppercase;
    color: #B1B1B1;
}
p, li, label {
    color: #B1B1B1;
    font-size: .9em;
}
section{
    padding: 2% 15%;
    margin-bottom: 2em;
}
button,
input[type='submit']{
    width: 10em;
    border-radius: 500px;
    border: none;
    padding: 1em;
    text-transform: uppercase;
}

/* --- GENERAL LAYOUT --- */

.hide {
    display:none;
}
.logobox {
    background-image: url("/assets/img/logo.png");
    background-repeat: no-repeat;
}

.contentbox{
    display: flex;
}
.contentbox .col75 {
    flex: 0 2 75%;
}
.contentbox .col25 {
    flex: 0 1 25%;
}

.contentbox .col50 {
    flex: 0 1 50%;
}
.contentbox .col66 {
    flex: 0 1 66%;
}
.contentbox .col33 {
    flex: 0 1 33%;
}
@media (max-device-width: 600px){
    .contentbox{
        display: flex;
        flex-direction: column;
    }
    .col75, .col25, .col50, .col66, .col33{
        flex: 0 1 100%
    }
    section {
        padding: 2% 5%;
        margin-bottom: 1em;
    }
}

